.cards{
    border: 1px solid black;
    width: 200px;
    height: 250px;
    display: inline-flex;
    justify-items: center;
    background-image: url("./resources/hand.jpg");
    background-position: center;
    background-size: contain;

}

.game_block{
    display: flexbox;
}

.image{
    width: 200px;
    height: 250px;
    opacity: 0;
}



#game_block{
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

body h2{
    margin-top: 60px;
    font-size: 35px;
    color:darkblue;
    text-transform: uppercase;
    text-align: center;
}

body{
    background-color:darkgray;
}